
extends layout

block content
    div.container(style='margin:20px')
        h1 180 Shooter
        h2 Paid Version Features
        p The free app allows entry of shots and provides graphical and statistical
            | information.
        p The paid version provides the following additional features:
        ul
            li Access to workouts
            li send recieve workouts
            li save/load app data
        p
            a(href='#') app store link.
        