
extends layout

block content
    div.container(style='margin:20px')
        h1 180 Shooter
        h2 Paid Version Features
        p The paid app allows entry of multiple games and provides graphical and statistical
            | information over a season.
        p The paid version provides the following additional features:
        ul
            li Access to workouts
            li send/recieve workouts
        p
            a(href='#') app store link.
        